@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/dist/glyphicons-halflings-regular.eot);
  src: url(/dist/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(/dist/glyphicons-halflings-regular.woff2) format("woff2"), url(/dist/glyphicons-halflings-regular.woff) format("woff"), url(/dist/glyphicons-halflings-regular.ttf) format("truetype"), url(/dist/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg"); }

body {
  margin: 0;
  overflow: hidden; }
  body div.balloon {
    background-image: url(/dist/balloon.svg); }
